---

sudo: required
dist: xenial
services: docker

# Work around an issue where bundler isn't installed correctly on Ruby 2.5.
# We should remove this, and the explicit "gem install bundler" line, once
# Travis uses Ruby 2.6 by default.
rvm: 2.6

install:
  - gem install bundler
  - bundle install --jobs=3 --retry=3

env:
  - INSTANCE=default-centos-6
  - INSTANCE=default-centos-7
  - INSTANCE=default-rocky-8

script:
  - KITCHEN_LOCAL_YAML=.kitchen.ci.yml bundle exec kitchen test ${INSTANCE}

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
